
html, body, .container {
  height: 100%;
  width: 100%;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-family: "Montserrat";
  margin: 10px 0;
}

.information {
  height: 27.5vh;
  width: 100%;
  padding: 10px 20px;
  box-sizing: border-box;
}

.title {
  text-align: center;
  margin: 0;
}

.players {
  display: flex;
  align-content: space-between;
}

.player {
  width: 100%;
  text-align: center;
}

.player h2 {
  padding: 10px 0;
  border-radius: 10px;
}

.player h2.current {
  background: #FFEB3B;
}

.game-container {
  height: 72.5vh;
  width: 100%;
}

.grid-container {
  height: 72.5vh;
  width: calc(72.5vh + 80px);
  padding: 10px 50px 0;
  box-sizing: border-box;
  float: left;
}

.grid-cell {
  width: 9%;
  padding-bottom: 9%;
  margin: 0.5%;
  box-sizing: border-box;
  position: relative;
  display: inline-block;
}

.cell-colour {
  height: 100%;
  width: 100%;
  position: absolute;
}

.cell-content {
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.action-container {
  height: 100%;
  width: calc(100% - 72.5vh - 80px);
  padding: 10px;
  box-sizing: border-box;
  float: right;
}

